
/* Estilos generales */
body {
  display:flex;
  flex-direction: column;
  min-height: 100vh; 
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del encabezado */
header {
  color: #fff;
  background-color:darkslateblue;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

header h1 {
  font-size: 50px;
}

 header button {
  background-color:darkslateblue; 
  color:#fff;            
  padding: 3px;     
  border-style: solid;
  border-radius: 0px;                
  cursor: pointer;         
  font-size: 12px;   
 }
.endSession {
  display: flex;
  justify-content:right;
  margin-left: 80%;
}

/* Estilos del contenido principal */
main {
  flex:1;
  padding-left: 15px;
  padding-right:15px;
}

h4 {
  margin-top: 5px;
}

h3 {
  background-color: #8c85b7;
  text-align: center;
  padding:20px;
}

#options a {
  text-decoration: none;
}


/* Estilos responsivos */
@media (max-width: 768px) {
header {
padding: 10px;
}


main {
padding: 10px;
}
}

/* Estilo para el footer */
footer {
  background-color:darkslateblue;
  color:#fff;
  padding: 20px 0; 
  text-align: center;
}

/* Estilo para botones */
button {
  background-color:#000000; 
  color:#fff;            
  padding: 10px 20px;      
  border: none;            
  border-radius: 10px;      
  cursor: pointer;         
  font-size: 14px;    
    font-family: 'Montserrat', sans-serif;    
    font-weight: bold;
}