
/* Estilos generales */
body {
  display:flex;
  flex-direction: column;
  min-height: 100vh; 
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del encabezado */
header {
  color: #fff;
  background-color:darkslateblue;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

header h1 {
  font-size: 50px;
}


/* Estilos del contenido principal */
main {
  padding-left: 15px;
  padding-right:15px;
  flex:1;
}

h4 {
  margin-top: 5px;
}

h3 {
  background-color: #8c85b7;
  text-align: center;
  padding-left: 0;
  padding:20px;
}

#deposit a {
  text-decoration: none;
}

#deposit div {
  padding-bottom: 20px;
}

#deposit button {
  margin-bottom: 20px;
}


/* Estilos responsivos */
@media (max-width: 768px) {
header {
padding: 10px;
}


main {
padding: 10px;
}
}

/* Estilo para el footer */
footer {
  background-color:darkslateblue;
  color:#fff;
  padding: 20px 0; 
  text-align: center;
}

/* Estilo para botones */
button {
  background-color:#000000; 
  color:#fff;            
  padding: 10px 20px;      
  border: none;            
  border-radius: 10px;      
  cursor: pointer;         
  font-size: 16px;        
}