/* Estilos generales */
body {
  padding: 20px;
  background-color: darkslateblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.masked-text {
  font-size: 50px;
  font-weight: bold;
  color: transparent;
  background-image: url("https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 200%; /* Enlarged for smooth animation */
  background-position: 0 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 5s infinite alternate linear;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.display-1 {
  font-size: 50px;
}

/* Estilos del encabezado */
header {
  color: #fff;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

header h1 {
  font-size: 50px;
}
h3 {
  background-color: rgb(203, 197, 245);
}

/* Estilos del contenido principal */
.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
}
table td {
  font-size: 13px;
}

#endSession button {
  background-color: #000000;
  color: #fff;
}

#endSession button:hover {
  background-color: #fff;
  color: #000000;
}

#spacer {
  height: 5vh;
}

/* Estilo para el footer */
footer {
  background-color: darkslateblue;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
}
